*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Arial, sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #000;
}
.box {
  width: 300px;
  height: 300px;
  border: 2px solid #ffffff;
  border-radius: 20px;
}
button {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  font-size: 1.5em;
  cursor: pointer;
}
button:active {
  transform: scale(0.95);
}
